@font-face {
    font-family: 'Bookman Old Style';
    src: url('BookmanOldStyle.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesPetiteCaps';
    src: url('MrsEavesPetiteCaps.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modesto';
    src: url('Modesto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mrs Eaves OT';
    src: url('MrsEavesOT-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scala Sans';
    src: url('ScalaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

